body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: white;
}
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.header h2 {
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.content {
  height: 120px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 10px;
  gap: 14px;
}
.content img {
  width: 100px;
  height: 100px;
  border: 4px solid white;
  border-radius: 10px;
  
}
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
}