body {

  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: cyan;
}

.login-container {
  margin-top: 140px;
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #5563DE;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #3d4fc3;
}
.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

