/* body {

  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: cyan;
}

.login-container {
  margin-top: 140px;
  background-color: #fefdfd;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}
h1 {
  color: rgb(187, 66, 187);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #5563DE;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #3d4fc3;
}
.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
 */

 /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background: #ffffff;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #5b0ba1;
  border-radius: 50%;
  opacity: 0.6;
}

.login-container::before {
  top: -80px;
  left: -80px;
}

.login-container::after {
  bottom: -80px;
  right: -80px;
}


.logo {
 
  text-align: center;
  margin-bottom: 20px;
}

.logo-img {
  margin-left: 55px;
  width: 70px;
  margin-bottom: 8px;
}
.same-line {
  display: flex;
  flex-direction: row;
}

.brand {
  font-size: 35px;
  color: #6a1b9a;
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.brand span {
  font-size: 35px
}

.welcome-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sub-text {
  color: #555;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.input-box {
  height: 66px;
  width: 414px;
  background: #e0b3ff;
  border-radius: 12px;
  margin: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px 50px 12px 0; 
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45px;
  background: #9b27b0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 12px 12px 0;
}

.forgot {
  font-size: 14px;
  text-align: center;
  margin: 5px 0 15px;
  cursor: pointer;
}


.login-btn {
  width: 425px;
  padding: 12px;
  border: none;
  background: #9c27b0;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #7b1fa2;
}

.register-btn {
  width: 425px;
  padding: 12px;
  border: 2px solid #8e24aa;
  background: white;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #f3e5f5;
}
.login-form a {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  text-decoration: none;
}